/**
 * Reset, Base and Grid
 */

@import 'wastele.css';
/**
 * Theme
 * Made with accessibility in mind
 * Accept that users can override your styles
 */

/* Typography and Color */

/* Monospaced font */

@font-face {
    font-family: 'Fira Code';
    font-weight: normal;
    font-style: normal;
    src: url(fonts/FiraCode-Regular.woff2) format('woff2'), url(fonts/FiraCode-Regular.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    font-weight: 500;
    font-style: normal;
    src: url(fonts/FiraCode-Medium.woff2) format('woff2'), url(fonts/FiraCode-Medium.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    font-weight: 700;
    font-style: normal;
    src: url(fonts/FiraCode-Bold.woff2) format('woff2'), url(fonts/FiraCode-Bold.woff) format('woff');
    font-display: swap;
}

/* Regular font */

@font-face {
    font-family: 'Fira GO';
    font-weight: 100;
    font-style: normal;
    src: url(fonts/FiraGO-Thin.woff2) format('woff2'), url(fonts/FiraGO-Thin.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Fira GO';
    font-weight: 100;
    font-style: italic;
    src: url(fonts/FiraGO-ThinItalic.woff2) format('woff2'), url(fonts/FiraGO-ThinItalic.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Fira GO';
    font-weight: 200;
    font-style: normal;
    src: url(fonts/FiraGO-UltraLight.woff2) format('woff2'), url(fonts/FiraGO-UltraLight.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Fira GO';
    font-weight: 200;
    font-style: italic;
    src: url(fonts/FiraGO-UltraLightItalic.woff2) format('woff2'), url(fonts/FiraGO-UltraLightItalic.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Fira GO';
    font-weight: 300;
    font-style: normal;
    src: url(fonts/FiraGO-Light.woff2) format('woff2'), url(fonts/FiraGO-Light.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Fira GO';
    font-weight: 300;
    font-style: italic;
    src: url(fonts/FiraGO-LightItalic.woff2) format('woff2'), url(fonts/FiraGO-LightItalic.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Fira GO';
    font-weight: normal;
    font-style: normal;
    src: url(fonts/FiraGO-Regular.woff2) format('woff2'), url(fonts/FiraGO-Regular.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Fira GO';
    font-weight: normal;
    font-style: italic;
    src: url(fonts/FiraGO-Italic.woff2) format('woff2'), url(fonts/FiraGO-Italic.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Fira GO';
    font-weight: 500;
    font-style: normal;
    src: url(fonts/FiraGO-Medium.woff2) format('woff2'), url(fonts/FiraGO-Medium.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Fira GO';
    font-weight: 500;
    font-style: italic;
    src: url(fonts/FiraGO-MediumItalic.woff2) format('woff2'), url(fonts/FiraGO-MediumItalic.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Fira GO';
    font-weight: 600;
    font-style: normal;
    src: url(fonts/FiraGO-SemiBold.woff2) format('woff2'), url(fonts/FiraGO-SemiBold.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Fira GO';
    font-weight: 600;
    font-style: italic;
    src: url(fonts/FiraGO-SemiBoldItalic.woff2) format('woff2'), url(fonts/FiraGO-SemiBoldItalic.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Fira GO';
    font-weight: 700;
    font-style: normal;
    src: url(fonts/FiraGO-Bold.woff2) format('woff2'), url(fonts/FiraGO-Bold.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Fira GO';
    font-weight: 700;
    font-style: italic;
    src: url(fonts/FiraGO-BoldItalic.woff2) format('woff2'), url(fonts/FiraGO-BoldItalic.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Fira GO';
    font-weight: 800;
    font-style: normal;
    src: url(fonts/FiraGO-ExtraBold.woff2) format('woff2'), url(fonts/FiraGO-ExtraBold.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Fira GO';
    font-weight: 800;
    font-style: italic;
    src: url(fonts/FiraGO-ExtraBoldItalic.woff2) format('woff2'), url(fonts/FiraGO-ExtraBoldItalic.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Fira GO';
    font-weight: 900;
    font-style: normal;
    src: url(fonts/FiraGO-Heavy.woff2) format('woff2'), url(fonts/FiraGO-Heavy.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Fira GO';
    font-weight: 900;
    font-style: italic;
    src: url(fonts/FiraGO-HeavyItalic.woff2) format('woff2'), url(fonts/FiraGO-HeavyItalic.woff) format('woff');
    font-display: swap;
}

:root {
    /* Color palette */
    --color-base: #00AE86;
    --color-base-highlight: #bf0;
    --color-base-shadow: #008000;
    --color-gray: #666;
    --color-gray-light: #fff;
    --color-gray-dark: #000;
    --color-highlight: rgba(255, 255, 255, 0.05);
    --color-shadow: rgba(0, 0, 0, 0.05);
    /* UI */
    --color-ui: var(--color-gray-dark);
    /* Text */
    --color-text: var(--color-gray-light);
    --color-text-highlight: var(--color-base-highlight);
    /* Links */
    --color-link: var(--color-base);
    --color-link-hover: var(--color-base-shadow);
    --color-button: var(--color-base);
    --color-button-hover: var(--color-base-shadow);
}

/* Image background */

html {
    background: url(image/background.jpg) no-repeat center center fixed;
    background-color: var(--color-ui);
    background-size: cover;
}

/* Headings & text */

body {
    background-color: var(--color-ui);
    font-family: 'Fira GO', sans-serif;
    color: var(--color-text);
    line-height: 1.6;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--color-text-highlight);
}

/* https://www.gridlover.net/try /w font-size:18; line-height:1.5; scale-factor:1.25; 
 * @media for big screens /w font-size:20; */

/* Links & navigation */

a {
    color: var(--color-link);
}

a:hover {
    color: var(--color-link-hover);
}

/* Forms & buttons */

/* Icons & notifications */