*,
::before,
::after {
    background-repeat: no-repeat;
}

::before,
::after {
    vertical-align: inherit;
    text-decoration: inherit;
}

html {
    cursor: default;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

figcaption,
figure,
main {
    display: block;
}

figure {
    margin: 1em 40px;
}

hr {
    overflow: visible;
    box-sizing: content-box;
}

nav ol,
nav ul {
    list-style: none;
}

a {
    background-color: transparent;
}

dfn {
    font-style: italic;
}

::selection {
    text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

audio,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg {
    fill: currentColor;
}

svg:not(:root) {
    overflow: hidden;
}

table {
    border-collapse: collapse;
}

button,
input {
    overflow: visible;
}

legend {
    display: table;
    box-sizing: border-box;
    max-width: 100%;
    white-space: normal;
    color: inherit;
}

progress {
    display: inline-block;
}

textarea {
    overflow: auto;
    resize: vertical;
}

[type='checkbox'],
[type='radio'] {
    box-sizing: border-box;
    padding: 0;
}

menu {
    display: block;
}

canvas {
    display: inline-block;
}

template {
    display: none;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
    touch-action: manipulation;
}

[hidden] {
    display: none;
}

[aria-busy='true'] {
    cursor: progress;
}

[aria-controls] {
    cursor: pointer;
}

[aria-hidden='false'][hidden]:not(:focus) {
    position: absolute;
    display: inherit;
    clip: rect(0, 0, 0, 0);
}

[aria-disabled] {
    cursor: default;
}

main,
header,
footer,
article,
section,
aside,
details,
summary {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 16px;
}

main {
    display: block;
    padding: 0 16px 16px;
}

footer {
    clear: both;
    max-width: 100%;
    padding: 16px 0;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, .12);
}

footer p {
    margin-bottom: 0;
}

hr {
    display: block;
    overflow: visible;
    box-sizing: content-box;
    width: 100%;
    height: 0;
    margin-top: 16px;
    margin-bottom: 16px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .12);
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: baseline;
}

@media screen and (max-width: 400px) {
    article,
    section,
    aside {
        display: block;
        clear: both;
        max-width: 100%;
    }
    img {
        margin-right: 16px;
    }
}

embed,
iframe,
video {
    border: 0;
}

body {
    font-size: 16px;
    line-height: 1.5;
}

p {
    margin: 0;
    margin-bottom: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h2 {
    font-size: 32px;
    margin: 20px 0 16px;
}

h3 {
    font-size: 28px;
    margin: 16px 0 4px;
}

h4 {
    font-size: 24px;
    margin: 16px 0 4px;
}

h5 {
    font-size: 20px;
    margin: 16px 0 4px;
}

h6 {
    font-size: 16px;
    margin: 16px 0 4px;
}

small {
    vertical-align: bottom;
}

pre {
    display: block;
    margin: 16px 0;
    padding: 16px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

code {
    line-height: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    word-wrap: break-word;
    word-break: break-all;
}

a {
    text-decoration: none;
    background-color: transparent;
}

a:hover,
a:focus {
    text-decoration: underline;
}

dl {
    margin-bottom: 16px;
}

dd {
    margin-left: 40px;
}

ul,
ol {
    margin-bottom: 8px;
    padding-left: 40px;
    vertical-align: baseline;
}

blockquote {
    font-style: italic;
    margin: 16px 0;
    padding-left: 16px;
}

u {
    text-decoration: underline;
}

s {
    text-decoration: line-through;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='url'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='week'],
input[type='number'],
input[type='search'],
input[type='tel'],
select,
textarea {
    line-height: 1.5;
    display: block;
    width: 100%;
    padding: 8px 16px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 4px;
    background-clip: padding-box;
}

input[type='color'] {
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
}

input:not([type]) {
    line-height: 1.5;
    display: block;
    width: 100%;
    padding: 8px 16px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-align: left;
    border-radius: 4px;
    background-clip: padding-box;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='time']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='week']:focus,
input[type='number']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='color']:focus,
select:focus,
textarea:focus {
    outline: 0;
}

input:not([type]):focus {
    outline: 0;
}

input[type='text'][disabled],
input[type='password'][disabled],
input[type='email'][disabled],
input[type='url'][disabled],
input[type='date'][disabled],
input[type='month'][disabled],
input[type='time'][disabled],
input[type='datetime'][disabled],
input[type='datetime-local'][disabled],
input[type='week'][disabled],
input[type='number'][disabled],
input[type='search'][disabled],
input[type='tel'][disabled],
input[type='color'][disabled],
select[disabled],
textarea[disabled] {
    cursor: not-allowed;
    opacity: 1;
}

input:not([type])[disabled] {
    cursor: not-allowed;
    opacity: 1;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
    color: #f44336;
    border-color: #ea1c0d;
}

input[type='file']:focus:invalid:focus,
input[type='radio']:focus:invalid:focus,
input[type='checkbox']:focus:invalid:focus {
    outline-color: #f44336;
}

select {
    vertical-align: sub;
}

select:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
}

select[multiple] {
    height: auto;
}

label {
    line-height: 2;
    display: inline-block;
}

fieldset {
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    padding: 8px 0;
}

textarea {
    overflow: auto;
    resize: vertical;
}

input[type=checkbox],
input[type=radio] {
    display: inline;
    box-sizing: border-box;
    padding: 0;
}

input[type=submit],
input[type=reset],
input[type=button],
button {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    display: inline-block;
    padding: 8px 16px;
    user-select: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 4px;
}

input[type=submit]:focus,
input[type=reset]:focus,
input[type=button]:focus,
button:focus {
    outline: 0;
}

input[type=submit]:disabled,
input[type=reset]:disabled,
input[type=button]:disabled,
button:disabled {
    cursor: not-allowed;
    opacity: .65;
}

table {
    margin-bottom: 16px;
}

caption {
    padding: 8px 0;
}

thead th {
    text-align: left;
    border: 0;
}

tr {
    margin-bottom: 8px;
}

th,
td {
    padding: 16px;
    vertical-align: inherit;
}

tfoot tr {
    text-align: left;
}

tfoot td {
    font-size: 8px;
    font-style: italic;
    padding: 16px 4px;
}