@charset 'utf-8';
/* Wasteless CSS | AGPL | https://gitlab.com/Menten/wasteless */

/* Classless and Themeless
   =======================
   No need to change anything here, use your own style.css to apply cosmetics */

/**
 * Pragmatic code to prevent whole layouts from breaking / becoming non-functional
 */

/* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* https://github.com/vladocar/CSS-Micro-Reset */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    vertical-align: top;
}

img,
iframe {
    border: 0;
}

/* https://github.com/sindresorhus/modern-normalize */

h1 {
    font-size: 2em;
    margin: .67em 0;
}

hr {
    height: 0;
}

abbr[title] {
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp,
pre {
    font-family: 'Fira Code', monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -.25em;
}

sup {
    top: -.5em;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
select {
    text-transform: none;
}

fieldset {
    padding: .35em .75em .625em;
}

legend {
    padding: 0;
}

progress {
    vertical-align: baseline;
}

summary {
    display: list-item;
}

/**
 * Basic a11y styles
 */

/* https://medium.com/@matuzo/writing-css-with-accessibility-in-mind-8514a0007939 */

html {
    line-height: 1.5;
}

p {
    max-width: 65ch;
}

/**
 * Base
 */

/* https://github.com/hyperdexapp/hyperdex/blob/master/app/renderer/styles/modern-base.css */

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dd,
dl,
pre {
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

::selection {
    text-shadow: none;
}

nav ol,
nav ul {
    list-style: none;
}

hr {
    display: block;
    margin: 1em 0;
    border: 0;
    padding: 0;
    border-top: 1px solid;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

textarea {
    resize: vertical;
}

svg,
img,
canvas,
video,
audio,
iframe {
    vertical-align: middle;
}

/* http://bettermotherfuckingwebsite.com/
   https://thebestmotherfucking.website/ */

h1,
h2,
h3 {
    line-height: 1.2;
}

small {
    font-size: .4em;
}

ul li img {
    height: 1em;
}

/**
 * Grid
 */

body {
    margin: 1.618em auto 0 auto;
}

main {
    max-width: 88%;
    margin: 0 auto;
}

header {
    grid-area: header;
}

article {
    grid-area: content;
}

nav {
    grid-area: nav;
}

aside {
    grid-area: sidebar;
}

section {
    grid-area: ad;
}

footer {
    grid-area: footer;
}

main {
    display: grid;
    grid-gap: 0;
    grid-template-areas: 'header' 'content' 'nav' 'sidebar' 'ad' 'footer';
}

article,
aside,
nav,
section {
    height: 100%;
    padding: 0 1.618em 1.618em 1.618em;
}

@media (max-width: 48em) {
    header,
    footer {
        display: none;
    }
}

@media (min-width: 48em) {
    main {
        grid-template-columns: 1.618fr 2.618fr;
        grid-template-areas: 'header  header' 'nav  content' 'ad  sidebar' 'footer  footer';
    }
    nav ul {
        justify-content: space-between;
    }
}

@media (min-width: 62em) {
    main {
        grid-template-columns: 1fr 2.618fr 1.618fr;
        grid-template-areas: 'header  header  header' 'nav  content  sidebar' 'nav  content  ad' 'footer  footer  footer';
    }
    nav ul {
        flex-direction: column;
    }
}

@media (min-width: 75em) {
    main {
        grid-template-columns: 1fr 3.618fr 1.618fr;
        grid-template-areas: 'header  header  header' 'nav  content  sidebar' 'nav  content  ad' 'footer  footer  footer';
    }
    nav ul {
        flex-direction: column;
    }
}

/**
 * Print
 */